@page "/orders"
@using BlazorServer.Services
@using Domain.Material
@using SharedProject.Dtos
@using SharedProject.Dtos.Common

@inject HttpClient Http

<h3>Orders</h3>

<RadzenButton Text="Hi Radzen"></RadzenButton>

<RadzenText TextStyle="TextStyle.H3" TagName="TagName.H1" Class="my-4">
    DataGrid
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" Class="my-4">
    Display tabular data with ease. Perform paging, sorting and filtering through Entity Framework without extra code.
</RadzenText>

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@materials" TItem="MaterialDto" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
        <Columns>
            <RadzenDataGridColumn TItem="MaterialDto" Property="Id" Filterable="false" Title="Id" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
            @*<RadzenDataGridColumn TItem="MaterialDto" Property="Name" Filterable="false" Title="name" Frozen="true" Width="200px" TextAlign="TextAlign.Center" />*@
        @*    <RadzenDataGridColumn TItem="MaterialDto" Property="Category" Filterable="false" Title="Category" Frozen="true" Width="200px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="MaterialDto" Property="UnitMaterial" Filterable="false" Title="UnitMaterial" Frozen="true" Width="100px" TextAlign="TextAlign.Center" />
               *@                                  
            @*
              <RadzenDataGridColumn TItem="Material" Title="Photo" Frozen="true" Sortable="false" Filterable="false" Width="80px" TextAlign="TextAlign.Center" >
            <Template Context="data"><RadzenImage Path="@data.Photo" class="rz-gravatar" /></Template>
            </RadzenDataGridColumn>*@
         
            
            @*<RadzenDataGridColumn TItem="Material" Property="FirstName" Title="First Name" Frozen="true" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="LastName" Title="Last Name" Width="160px"/>
            <RadzenDataGridColumn TItem="Material" Property="Title" Title="Job Title" Width="200px" />
            <RadzenDataGridColumn TItem="Material" Property="TitleOfCourtesy" Title="Title" Width="120px" />
            <RadzenDataGridColumn TItem="Material" Property="BirthDate" Title="Birth Date" FormatString="{0:d}" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="HireDate" Title="Hire Date" FormatString="{0:d}" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="Address" Title="Address" Width="200px" />
            <RadzenDataGridColumn TItem="Material" Property="City" Title="City" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="Region" Title="Region" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="PostalCode" Title="Postal Code" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="Country" Title="Country" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="HomePhone" Title="Home Phone" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="Extension" Title="Extension" Width="160px" />
            <RadzenDataGridColumn TItem="Material" Property="Notes" Title="Notes" Width="300px" />*@


        </Columns>
    </RadzenDataGrid>
@*
    @if(@materials != null)
    @foreach (var materialDto22 in materials)
    {
        <h1>@materialDto22.Id</h1>
    }*@
@code {
    IEnumerable<MaterialDto> materials;

    [Inject]
    public IMaterialService _materialService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //materials = await _materialService.GetAllMaterials();
        var materialList = await Http.GetFromJsonAsync<PagingResultDto<MaterialDto>>("api/Material/get-all");
        var materials = materialList.Data;
    }

}
